/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {
    body {
        background: black;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    body {
        background: red;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 20px;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    body {
        background: orange;
        font-size: 80px;
        color: black;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    body {
        background: blue;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }
}